 
    .imglogo {
      height: 45px;
      border-radius: 12px;

    }

    .navbuttons>ul>li>a {
      color: white;
    }
    .navbartop{
  background-color: 
#020f3b;
text-decoration: none;
    }
    .navbuttons>ul>li>a:hover{
      color:gray;
    }
    .backgroundvideo{
      width:100%;
    
    }
    .topnav{
      display: flex;
      justify-content: space-between;
    }
  @media only screen and (max-width: 600px) {
.videotitle{
    color: white;

}

.card-img-overlay{
    text-align: center;
    padding-top: 150px;
}
.card > video{
    width: 100%px;
    height: 650px;
    object-fit: cover;
}
.videotext{
    color: white;
  }

.videobtn{
    padding: 15px;
    width: 250px;
    background-color: #00C2FF;
    border: none;
    border-radius: 10px;
}

.togglerbutton{
    background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMzAgMzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggc3Ryb2tlPSdibHVlJyBzdHJva2Utd2lkdGg9JzInIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLW1pdGVybGltaXQ9JzEwJyBkPSdNNCA3aDIyTTQgMTVoMjJNNCAyM2gyMicvPjwvc3ZnPg==");
    width: 1.5em;
    height: 1.5em;
}
.under1{
    padding-top: 40px;
    padding-left: 20px;
}
.under1 > h1{
    color: #0B3CC1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}

.under1 > h5{
  font-size: 22px;
  color: gray;
}
.blue-underline{
  width: 80px;
  height: 4px;
  background-color: #276EF1;
  margin-top: 15px;
  }

  .under1 > .para1{
margin-top: 12px;
color: gray;
font-size: 18px;
  }

  .learn {
    font-weight: bold;
    color: #0B3CC1;
    cursor: pointer;
  }


.under2 > img{
   
   border-radius: 10px;
   cursor: pointer;
   object-fit: cover;
  }
  .blue-box{
    width:140px;
    height: 120px;
    background-color:#276EF1;
    border-radius: 10px;
    position: absolute;
    top:88rem;
    
    text-align: center;
    color: white;
    cursor: pointer;
  }
 .text > p{
  font-size: 15px;
 }
 .text > h5{
  font-size: 20px;
 }

 .under3{
  background-color:#F3F4F6 ;
  text-align: center;
  margin-top: 50px;

 }
.under3text{
  color: #0B3CC1;
  padding-top: 35px;
}
.under3 > .a > p{
  color: gray;
  
}
.blue-underline2{
   width: 80px;
  height: 4px;
  background-color: #276EF1;
  margin-top: 5px;
  margin-left:185px;
  
}

.homecard1{
  height: 235px;
  width: 100%;
  border: none;
transition: transform 0.3s ease, box-shadow 0.3s ease;
padding-left: 30px;
  padding-right:30px ;
}

.homecard1:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}
.homecard2{
 height: 235px;
  width: 100%;
  border: none;
  margin-top: 18px;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
padding-left: 30px;
  padding-right:30px ;
}
.homecard2:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}
.homecard3{
  height: 235px;
  width:100%;
  border: none;
  margin-top: 18px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
padding-left: 30px;
  padding-right:30px ;
}
.homecard3:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}
.homecard4{
  height: 235px;
  width: 100%;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
padding-left: 30px;
  padding-right:30px ;
}
.homecard4:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}
.homecard5{
  height: 235px;
  width:100%;
  border: none;
  margin-top: 18px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
padding-left: 30px;
  padding-right:30px ;
}
.homecard5:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.under3b{
  display: flex;
}
.roundbox{
  background-color: #e8f1ff;
  width:50px;
  border-radius: 50px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 15px;
}
.roundbox > i{
  font-size: 30px;
  color: #0B3CC1;
}

.hometext > h3{
color: #0B3CC1;
font-weight: bold;
}
.hometext > p{
  color: gray;
  text-align: center;
}

.homecard6{
  margin-top: 25px;
  height: 235px;
  width: 100%;
  padding-left: 30px;
  padding-right:0px ;
  border: none;
background-color: #276EF1;
transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.homecard6:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}
.homecard6 > .hometext > h3{
  color: white;
  margin-top: 35px;
}
.homecard6 > .hometext > p{
  color: white;
}
.homecard6button{
  color: #0B3CC1;
  width: 240px;
  object-fit: cover;
  
}
.under4b > .row > .col-sm-6{
  display: flex;
  justify-content: space-between;
}
.number1{
   color: #1662f6;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 100px;
  padding-left: 70px;
}
.number1 > p{
  color: black;
  font-weight: normal;
  font-size: 15px;
}
.number1a{
  color: #1662f6;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 20px;
  padding-left: 70px;
}
.number1a > p{
  color: black;
  font-weight: normal;
  font-size: 15px;
}

.number2{
   color: #1662f6;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 100px;
  padding-right: 70px;
}
.number2 > p{
  color: black;
  font-weight: normal;
  font-size: 15px;
}

.number2a{
  color: #1662f6;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 20px;
  padding-right: 60px;
}

.number2a > p{
  color: black;
  font-weight: normal;
  font-size: 15px;
}
.under5a{
  text-align: center;
  padding-top: 50px;
}
.under5a > h2{
  color: #0B3CC1;
  font-weight: bold;
  font-size:28px ;
}
.under5a > p{
  color: gray;
  padding: 8px;
  
}

.under5a > .row > .col-sm-6{
display: flex;
justify-content: space-between;
}
.under5a > .row > .col-sm-6 > .card1{
  height: 100px;
  width:150px;
  margin-left: 5px;
    box-shadow:4px 4px 5px 5px #f4f0f0fd;
    border:none;
  
}

.under5a > .row > .col-sm-6 > .card > .under5img > img{
  height: 80px;
}
.under5a > .row > .col-sm-6 > .card1a{
  height: 100px;
  width: 150px;
  margin-right: 5px;
    box-shadow:4px 4px 5px 5px #f4f0f0fd;
    border: none;
}
.under5a > .row > .col-sm-6 > .card1a > .under5img > .row1cimg{
height: 70px;
}
.under5a > .row > .col-sm-6 > .card1 > .under5img > .row1dimg{
height: 53px;
margin-top: 8px;
}
.under5a > .row > .col-sm-6 > .card1a > .under5img > .row1eimg{
height: 68px;
margin-top: 5px;
}
.under5a > .row > .col-sm-6 > .card1a > .under5img > .row2aimg{
height: 60px;
}
.under5a > .row > .col-sm-6 > .card1a > .under5img > .row2cimg{
  height: 28px;
  margin-top: 13px;
}
.under5a > .row > .col-sm-6 > .card1 > .under5img > .row2dimg{
height: 25px;
margin-top: 20px;
}
.under5a > .row > .col-sm-6 > .card1 > .under5img > .row3img{
height: 65px;
}
.under5a > .row > .col-sm-6 > .card1a > .under5img > .row3aimg{
height: 55px;
}

.under5a > .row > .col-sm-6 > .card1a > .under5img > .row3cimg{
height: 53px;
}
.under5a > .row > .col-sm-6 > .card1a > .under5img > .row3eimg{
height: 38px;
margin-top: 13px;
}

.under5a > .row > .col-sm-6 > .card1 > .under5img > .row4bimg{
  height: 50px;
  margin-top: 5px;
}

.under5a > .row > .col-sm-6 > .card1a > .under5img > .row4cimg{
height: 35px;
margin-top: 13px;
}
.under5a > .row > .col-sm-6 > .card1 > .under5img > .row4dimg{
height: 55px;
}
.under5a > .row > .col-sm-6 > .card1 > .under5img > .row5img{
height: 60px;
}
.under5a > .row > .col-sm-6 > .card1a > .under5img > .row5aimg{
height: 60px;
}
.under5a > .row > .col-sm-6 > .card1 > .under5img > .row5bimg{
height: 60px;
}
.under5a > .row > .col-sm-6 > .card1 > .under5img > .row5dimg{
height: 50px;
margin-top: 5px;
}

.under5a > .row > .col-sm-6 > .card1 > .under5img > .row6img{
height: 60px;
}

.under5a > .row > .col-sm-6 > .card1 > .under5img > .row6bimg{
height: 40px;
margin-top: 10px;
}
.under5a > .row > .col-sm-6 > .card1a > .under5img > .row6cimg{
  height: 70px;
}
.under5a > .row > .col-sm-6 > .card1a > .under5img > .row6eimg{
height: 28px;
margin-top: 20px;
}
.under5a > .row > .col-sm-6 > .card1 > .under5img > .row7img{
height: 28px;
margin-top: 20px;
}
.under5a > .row > .col-sm-6 > .card1a > .under5img > .row7aimg{
height: 60px;
}
.under5a > .row > .col-sm-6 > .card1 > .under5img > .row7bimg{
height: 24px;
margin-top: 15px;
}
.under5a > .row > .col-sm-6 > .card1a > .under5img > .row7cimg{
height: 65px;
}
.under5a > .row > .col-sm-6 > .card1 > .under5img > .row7dimg{
height: 60px;
margin-top: 10px;
}
.footermain{
  background-color: #1E3A8A;
  margin-top: 58px;
 }
 .footermain > a{
  color: white;
 }
 .footermaina{
  color: white;
  text-align: center;
  padding: 40px;
  font-weight: bold;
  font-size: 32px;
 }
 .footermaina > p{
  font-weight: normal;
  font-size: 15px;
  padding: 5px;
 }
 .footerbtn{
  color: #0B3CC1;
  font-weight: bold;
  padding: 12px;
  width: 190px;
  border: none;
 }
.footermaina > .footerbtn:hover{
  background-color: #1E3A8A;
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
 }
  .text1{
    font-size: 20px;
    padding-right: 30px;
    text-align: left;
    
  }
  .text1 > p{
    font-weight: normal;
    text-align: left;
    font-size: 20px;
    margin-top: 10px;

    
  }
  .text1 > i{
    padding: 3px;
  }
  .text2{
    font-size: 20px;
    margin-top: 30px;
    text-align: left;
    
  }
  .text2 > p{
    font-weight: normal;
    color: #cbd5e1;
    text-align: left;
    font-size: 15px;
    margin-top: 15px;
    
  }
  .text2 > p:hover{
    text-decoration: underline;
  }
  .text3{
    font-size: 20px;
    text-align: left;
    margin-top: 30px;
    
  }
  .text3 > p{
    font-weight: normal;
    font-size: 15px;
    margin-top: 10px;
    color: #cbd5e1;
  }
  .text3 > p:hover{
    text-decoration: underline;
  }
  .text4{
    font-size: 20px;
    text-align: left;
    margin-top: 30px;
    
  }
  .text4 > p{
    font-weight: normal;
    font-size: 18px;
    margin-top: 10px;
  }
  .footerpara{
    margin-top: 40px;
    padding: 15px;
  }
  .dropdown-menu{
    background-color: #0B3CC1;
    padding: 10px;
  }
  .dropdown-item{
    color: white;
  }
  .dropdown-item:hover{
    background-color: #00C2FF;
  }
  }





@media only screen and (min-width: 992px) {
.card-img-overlay{
padding-top: 250px;
text-align: center;
    
}
.videotitle{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
}
.videotext{
    color: white;
}
.card > video{
    object-fit: cover;
    height: 775px;
}
.videobtn{
    padding: 15px;
    width: 250px;
    background-color: #00C2FF;
    border: none;
    border-radius: 10px;
}
.under1{
    padding: 90px;
}
.under1 > h1{
    color: #0B3CC1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}
.under1 > h5{
  font-size: 24px;
  color: gray;
}
.blue-underline{
  width: 80px;
  height: 4px;
  background-color: #276EF1;
  margin-top: 15px;
  }

  .under1 > .para1{
margin-top: 12px;
color: gray;
font-size: 16px;
  }

  .learn {
    font-weight: bold;
    color: #0B3CC1;
    cursor: pointer;
  }
  .under2 > img{
   margin-top: 135px;
   border-radius: 10px;
   cursor: pointer;
  }
  .blue-box{
    width:140px;
    height: 120px;
    background-color:#276EF1;
    border-radius: 10px;
    position: absolute;
    top:72rem;
    left:46rem;
    text-align: center;
    color: white;
    cursor: pointer;
  }
 .text > p{
  font-size: 15px;
 }
 .text > h5{
  font-size: 20px;
 }
 .under3{
  background-color:#F3F4F6 ;
  text-align: center;

 }
.under3text{
  color: #0B3CC1;
  padding-top: 35px;
}
.under3 > .a > p{
  color: gray;
}
.blue-underline2{
   width: 80px;
  height: 4px;
  background-color: #276EF1;
  margin-top: 5px;
  margin-left: 600px;
  
}
.homecard1{
  height: 235px;
  width: 370px;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.homecard1:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.homecard2{
 height: 235px;
  width: 370px;
  border: none;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.homecard2:hover{
  transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.homecard3{
  height: 235px;
  width: 370px;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.homecard3:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.homecard4{
  height: 235px;
  width: 370px;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.homecard4:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.homecard5{
  height: 235px;
  width: 370px;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.homecard5:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}
.under3b{
  display: flex;
  
}
.roundbox{
  background-color: #e8f1ff;
  width:50px;
  border-radius: 50px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
}
.roundbox > i{
  font-size: 30px;
  color: #0B3CC1;
}

.hometext > h3{
color: #0B3CC1;
font-weight: bold;
text-align: left;
padding-left: 10px;
}
.hometext > p{
  color: gray;
  text-align: left;
  padding-left: 10px;
}
.homecard6{
  height: 235px;
  width: 370px;
  border: none;
background-color: #276EF1;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.homecard6:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}
.homecard6 > .hometext > h3{
  color: white;
  margin-top: 15px;
}
.homecard6 > .hometext > p{
  color: white;
}

.homecard6button{
  color: #0B3CC1;
  width: 285px;
  margin-top: 35px;
}
.number{
  color: #1662f6;
  font-weight: bold;
  font-size: 2.1rem;
  margin-top: 120px;
}

.under5{
  text-align: center;
  padding-top: 50px;
}
.under5 > h2{
  color: #0B3CC1;
  font-weight: bold;
}
.under5 > p{
  color: gray;
}

.under5 > .row > .col-lg-2 > .card{
  height: 100px;
   box-shadow:4px 4px 5px 5px #f4f0f0fd; 
  border:none;
}
.under5img > img{
  height: 70px;
}
.under5img > .d1image{
  height: 51px;
}

.under5img > .row2aimg{
height: 60px;
}
.under5img > .row2cimg{
  height: 25px;
  margin-top: 15px;
}
.under5img > .row2dimg{
  height: 25px;
  margin-top: 18px;
}
.under5img > .row3img{
  height: 55px;
}
.under5img > .row3aimg{
height: 55px;
}
.under5img > .row3bimg{
  height: 60px;
}
.under5img > .row3cimg{
  height: 45px;
  margin-top: 10px;
}
.under5img > .row3eimg{
  height: 38px;
  margin-top: 10px;
}

.under5img > .row4bimg{
  height: 43px;
  margin-top: 10px;
}
.under5img > .row4cimg{
  height: 33px;
  margin-top: 13px;
}
.under5img > .row4dimg{
  height: 38px;
  margin-top: 10px;
}
.under5img > .row5img{
  height: 48px;
  margin-top: 10px;
}
.under5img > .row5cimg{
  height: 45px;
  margin-top: 10px;
}
.under5img > .row5dimg{
  height: 45px;
  margin-top: 10px;
}

.under5img > .row6img{
  height: 45px;
  margin-top: 10px;
}
.under5img > .row6bimg{
  height: 38px;
  margin-top: 10px;
}
.under5img > .row6eimg{
  height: 28px;
  margin-top: 14px;
}


.under5img > .row7img{
  height: 28px;
  margin-top: 20px;
}

.under5img > .row7aimg{
  height: 40px;
  margin-top: 10px;
}
.under5img > .row7bimg{
  height: 20px;
  margin-top: 20px;
}
.under5img > .row7dimg{
  height: 55px;
  margin-top: 10px;
}
 .under6{
  background-color: #1E3A8A;
  padding-top: 40px;
  margin-top: 80px;
 }
 .under6a > h1{
  text-align: center;
  color: white;
  font-weight: bold;
 }
 .under6a > p{
  color: gray;
  text-align: center;
 }
 .footermain{
  background-color: #1E3A8A;
  margin-top: 50px;
 }
 .footermain > a{
  color: white;
 }
 .footermaina{
  color: white;
  text-align: center;
  padding: 30px;
  font-weight: bold;
  font-size: 35px;
 }
 .footermaina > p{
  font-weight: normal;
  font-size: 15px;
  padding: 5px;
 }
 .footerbtn{
  color: #0B3CC1;
  font-weight: bold;
  padding: 12px;
  width: 190px;
  border: none;
 }
.footermaina > .footerbtn:hover{
  background-color: #1E3A8A;
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
 }
  .text1{
    font-size: 20px;
    padding-right: 30px;
    text-align: left;
    
  }
  .text1 > p{
    font-weight: normal;
    text-align: left;
    font-size: 20px;
    margin-top: 10px;

    
  }
  .text1 > i{
    padding: 3px;
  }
  .text2{
    font-size: 20px;
    
    text-align: left;
    
  }
  .text2 > p{
    font-weight: normal;
    color: #cbd5e1;
    text-align: left;
    font-size: 15px;
    margin-top: 15px;
    
  }
  .text2 > p:hover{
    text-decoration: underline;
  }
  .text3{
    font-size: 20px;
    text-align: left;
    
  }
  .text3 > p{
    font-weight: normal;
    font-size: 15px;
    margin-top: 10px;
    color: #cbd5e1;
  }
  .text3 > p:hover{
    text-decoration: underline;
  }
  .text4{
    font-size: 20px;
    text-align: left;
    
  }
  .text4 > p{
    font-weight: normal;
    font-size: 18px;
    margin-top: 10px;
  }
  .footerpara{
    margin-top: 40px;
    padding: 15px;
  }

  .dropdown-menu{
    background-color: #0B3CC1;
    margin-left: -80px;
    padding: 10px;
  }
  .dropdown-item{
    color: white;
  }
  .dropdown-item:hover{
    background-color: #00C2FF;
  }
}



.learn:hover{
  text-decoration: underline;
}








@media only screen and (min-width: 992px) {
.mainb{
    display: none;
}
}

  @media only screen and (max-width: 600px){
.maina{
    display:none;
}


 }

  @media only screen and (max-width: 600px){
.under4a{
    display:none;
}


 }
@media only screen and (min-width: 992px) {
.under4b{
    display: none;
}
}


@media only screen and (max-width: 600px){
.under5{
    display:none;
}
}


@media only screen and (min-width: 992px) {
.under5a{
    display: none;
}
}